/* H2 標題加上裝飾性背景與左邊的底線，並向上推 70px */
selector h2 {
    background-color: #eee;
    border-left: 5px solid #daa520;
    padding: 5px 0 5px 16px;
    margin-top: 70px;
}

/* H3 標題向上推 50px */
selector h3 {
    margin-top: 50px;
}

/* H4 標題向上推 30px */
selector h4 {
    margin-top: 30px;
}

/* 段落向下推 16px */
selector p {
    margin: 0 0 16px 0;
}

/* 有底色的段落文字上下特各推 16px */
selector p.has-background {
    margin: 16px 0 16px 0;
}

/* 加粗或加底線的文字底下加上標準色底線 
selector .golden-underline > strong {
    box-shadow: #FFDA7A 0px -0.5em 0px 0px inset;
}
selector .golden-underline > span[style="text-decoration: underline;"] {
    box-shadow: #FFDA7A 0px -0.5em 0px 0px inset;
}
selector p mark[style] {
    display: inline-block;
    height: 9px;
    line-height: 0;
}
*/

/* 斜體加底線 */
selector p em {
    font-style: normal;
    box-shadow: #ffda7a 0px -0.5em 0px 0px inset;
}

/* 有序清單與無序清單往右邊移動 40px，往下推 20px */
selector ol, ul {
    margin: 0 0 20px 40px;
}

/* 分隔符號向下推 20px */
selector hr.wp-block-separator {
    margin: 0 0 20px 0;
}

/* 外部連結設定成金色 */
selector p a {
    color: #DAA520;
    transition: all 0.3s ease-in-out;
}
/* 當滑鼠移動到連結上時，連結變粗 */
selector p a:hover {
    font-weight: 600;
}