/* 設定圖片轉場時間與尺寸，讓圖片在容器內置中 */
selector img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    display: block;
    margin: 0 0 0 auto;
    transition: all 0.5S ease-in-out;
}

/* 當螢幕寬度小於或等於 1024px 時，執行以下的 CSS */
@media (max-width: 1024px) {
    /* 將圖片的 margin 設為 0，讓圖片水平置中 */ 
    selector img {
        margin: 0;
    }
    
    /* 將圖片與文字的父容器設為 flexbox */
    selector .elementor-image-box-wrapper {
        display: flex;
    }
    
    /* 將圖片容器的寬度設為 30% */
    selector .elementor-image-box-img {
        width: 30% !important;
    }
    /* 將文字容器的寬度設為 70% */
    selector .elementor-image-box-content {
        width: 70% !important;
        padding: 0 0 0 5px;
    }
}

/* 滑鼠懸停到圖片上時顯示出框線 */
selector img:hover {
    border: 2px solid #DAA520;
}