selector h4:after {
    display: block;
    content: "";
    height: 20px;
    width: 11%;
    position: absolute;
    background: #DAA520;
    margin-top: -15px;
    z-index: -1;
}

@media (max-width: 1024px) {
    selector h4:after {
        width: 21%;
    }
}