/* 將定位設定成 absolute，並且設定該元素的寬高與相對位置 */
selector {
    max-width: 540px;
    max-height: 330px;
    position: absolute;
    top: 20%;
    right: -25%;
}

/* 當螢幕寬度等於或小於 1024px 時，套用以下的設定 */
/*@media (max-width: 1024px) {*/
/*    selector {*/
/*        width: 220px;*/
/*        height: 120px;*/
/*        top: 15%;*/
/*        right: -5%;*/
/*    }*/
/*}*/

/* 當螢幕寬度等於或小於 1024px 時，套用以下的設定 */
@media (max-width: 1024px) {
    selector {
        position: static;
    }
}