/* 隱藏創業攻守道、基礎期貨－終身線上課程、期貨波段菁英計畫－30天線上課程、黃金三階段觀盤術 */
selector .post-92804,
.post-114147,
.post-113393,
.post-120702 {
  display: none !important;
}

/* 按鈕樣式設定 */
selector .product a.button {
  transition: transform 0.3s ease;
}

/* 按鈕樣式懸停設定 */
selector .product a.button:hover {
  transform: scale(0.85);
}
