/* 全站的文字被選取時，文字顏色會是白色，背景顏色會是金色 */
*::selection {
	color: #FFFFFF;
	background-color: #DAA520;
}


/* 以下是跟卷軸有關的設定 */
/* 頁面卷軸整體寬度 */
::-webkit-scrollbar {
		width: 5px;
}

/* 頁面卷軸整體寬度懸停設定 */
::-webkit-scrollbar:hover {
		width: 10px;
}

/* 頁面卷軸軌道設定 */
::-webkit-scrollbar-track {
		-webkit-border-radius: 10px;
		border-radius: 10px;
		background: #282A2D;
}

/* 頁面卷軸軌道懸停設定 */
::-webkit-scrollbar-track:hover {
		background: #15486D;
}

/* 頁面卷軸位置指示器設定 */
::-webkit-scrollbar-thumb {
		-webkit-border-radius: 4px;
		border-radius: 4px;
		background: #DAA520;
}

/* 頁面卷軸位置指示器懸停設定 */
::-webkit-scrollbar-thumb:hover {
		background: #FFDA7A;
}