/* 將內容容器設定為 absolute，並往上推，且設定漸層陰影 */
selector .uael-post__content-wrap {
    margin-top: -160px !important;
    background: linear-gradient(to top, #000, transparent);
}

/* 標題以下的說明文字的設定 */
selector .uael-post-wrapper h4:after {
    display: block;
    margin-top: 12px;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 2px;
}

/* 當螢幕寬度小於或等於 1024px 時，套用以下的 CSS */
@media (max-width: 1024px) {
    selector .uael-post__content-wrap {
        margin-top: -165px !important;
    }
    
    selector .uael-post-wrapper h4:after {
    display: block;
    margin-top: 2px;
    font-size: 16px;
    line-height: 22px;
    }
}

/* 李偉仁簡介文字 */
selector .uael-post-wrapper:nth-of-type(1) h4:after {
    content: "操盤經驗20年，合格雙分析師、業界資深期貨分析師";
}

/* 李紹鋒簡介文字 */
selector .uael-post-wrapper:nth-of-type(2) h4:after {
    content: "管理資金達20億台幣的獨立理財顧問（IFA）";
}

/* Jack簡介文字 */
/*selector .uael-post-wrapper:nth-of-type(3) h4:after {*/
/*    content: "市場唯一幣圈交易+礦機挖礦兩項專精的實戰家";*/
/*}*/

/* 陳昱璋簡介文字 */
selector .uael-post-wrapper:nth-of-type(3) h4:after {
    content: "超過18年交易經驗，凱基【外匯名師之夜】特邀講師";
}

/* 陳炳宏簡介文字 */
selector .uael-post-wrapper:nth-of-type(4) h4:after {
    content: "兩岸30多年商業經驗，輔導超過400家企業的商業顧問";
}

/* Iris簡介文字 */
selector .uael-post-wrapper:nth-of-type(5) h4:after {
    content: "品牌策略經營15年經驗，專注於解決企業品牌行銷難題";
}

/* 林俊洲簡介文字 */
selector .uael-post-wrapper:nth-of-type(6) h4:after {
    content: "企業資本化專家，全台最大天使俱樂部創辦人";
}

/* 王鼎琪簡介文字 */
selector .uael-post-wrapper:nth-of-type(7) h4:after {
    content: "世界記憶大賽亞洲女性冠軍，出版過11本暢銷書";
}

/* Jerry簡介文字 */
selector .uael-post-wrapper:nth-of-type(8) h4:after {
    content: "部落格累積流量達300萬，用部落格成為自由工作者";
}

/* 魏上騰簡介文字 */
selector .uael-post-wrapper:nth-of-type(9) h4:after {
    content: "公勝保險經紀人、NLP國際執行師、保險沃客創辦人";
}

/* William簡介文字 */
selector .uael-post-wrapper:nth-of-type(10) h4:after {
    content: "20年網路行銷經驗，若水學院創辦人&總經理";
}