/* 將外層容器設定為 relative */
selector .uael-post-wrapper {
    position: relative;
}

selector .uael-post__thumbnail, img {
    border-radius: 15px;
}

/* 將內容容器設定為 absolute，並往上推，且設定漸層陰影 */
selector .uael-post__content-wrap {
    position: absolute;
    margin-top: -147px !important;
    background: linear-gradient(to top, #000, transparent);
}

/* 標題以下的說明文字的設定 */
selector .uael-post-wrapper h4:after {
    display: block;
    margin-top: 12px;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 2px;
}

/* 當螢幕寬度小於或等於 1024px 時，套用以下的 CSS */
@media (max-width: 1024px) {
    selector .uael-post__content-wrap {
        margin-top: -158px !important;
    }
    
    selector .uael-post-wrapper h4:after {
    display: block;
    margin-top: 2px;
    font-size: 16px;
    line-height: 22px;
    }
}

/* 李紹鋒簡介文字 */
selector .uael-post-wrapper:nth-of-type(4) h4:after {
    content: "資產配置達人，專精各種金融商品投資的理財專家";
}