/* 將申請一個全新的聯盟夥伴帳號字串移除 */
selector #affwp-register-form legend {
    display: none;
}

/* 將表單欄位的背景色變成灰色，並改變框線顏色 */
selector #affwp-register-form input[type="text"], input[type="email"], input[type="password"], textarea  {
    background-color: #EDEDED;
    border-width: 2px;
    border-color: #FFF7E4;
}

/* 當表單欄位被啟動時，將框線改成金色 */
selector #affwp-register-form input:focus  {
    border-color: #DAA520;
}

/* 將聯盟夥伴條款頁面的連結加上底線 */
selector #affwp-register-form .affwp-tos a {
    text-decoration: underline;
    transition: all 0.3S ease-in-out;
}

/* 當滑鼠移動到聯盟夥伴條款頁面的連結上時，將文字變成金色 */
selector #affwp-register-form .affwp-tos a:hover {
    color: #DAA520;
}